main {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    
}

body {
    background-image: url(wp12950081.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


main div {
    padding: 15px;
    align-self: center;
}

header {
    padding: 20px;
}

i {
    font-size: 27px;
}


